<div class="z-header">
  <img class="z-cat" src="assets/imgs/Confucat.png" alt="catto" />

  <div class="z-header-content">
    <p class="z-title">Zorro</p>

    <div class="z-info">
      <ion-item class="info">
        <ion-icon name="business"></ion-icon>
        <p>Fornovo</p>
      </ion-item>
      <ion-item class="info">
        <ion-icon name="calendar"></ion-icon>
        <p class="date">18/04/2020</p>
      </ion-item>
      <ion-item class="info">
        <ion-icon name="pizza"></ion-icon>
        <p>Tonno e pandoro</p>
      </ion-item>
    </div>
  </div>
</div>